* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --mainBlack: #000;
    --mainWhite: #fff;
    --yellowTrans: rgb(141, 139, 9);
    --mainYellow: rgb(238, 215, 8);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

nav.nav {
    height: 100px;
    width: 100%;
    background: var(--yellowTrans);
    position: fixed;
    z-index: 100;
}

label.logo {
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}

.logo img {
    max-width: 100%;
    max-height: 90px;
}

nav.nav ul {
    float: right;
    margin-right: 40px;
}

nav.nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav.nav a {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

.nav-list-link:hover {
    text-decoration: none;
    border: 1px solid var(--mainWhite);
    color: var(--mainBlack);
    transition: all 0.5s ease-in-out;
}

nav #icon {
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


/* banner */

.max-height {
    min-height: calc(90vh - 76px);
    background: linear-gradient(rgba(255, 251, 19, 0.5), rgba(255, 251, 19, 0.5)), url("../img/service102.jpg") center/cover fixed no-repeat;
    position: relative;
}

.banner {
    color: var(--mainBlack);
    margin-top: 5rem;
}

.banner-title {
    color: var(--mainWhite);
    font-size: 4rem;
}

#banner-link {
    font-size: 1.5rem;
    color: var(--mainBlack);
    border: 0.2rem solid var(--mainYellow);
}

.banner-link:hover {
    background-color: var(--mainWhite);
    color: var(--mainBlack);
}


/* about  */

.about-img__container {
    position: relative;
}

.about-img__container::before {
    content: "";
    position: absolute;
    top: -1.5rem;
    left: -1.7rem;
    width: 100%;
    height: 100%;
    outline: 0.5rem solid var(--mainYellow);
    z-index: -1;
    transition: all 1s ease-in-out;
}

.about-img__container:hover::before {
    top: 0;
    left: 0;
}

@media (max-width: 1048px) {
    label.logo {
        font-size: 32px;
        padding-left: 60px;
    }
    nav.nav ul {
        margin-right: 20px;
        ;
    }
    nav.nav a {
        font-size: 17px;
    }
}

@media(max-width: 909px) {
    nav.nav #icon {
        display: block;
    }
    nav.nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(141, 139, 9, .8);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 100;
    }
    nav.nav li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav.nav a {
        font-size: 20px;
    }
    a.active,
    a:hover {
        border: none;
        color: #f5e649;
    }
    nav.nav ul.show {
        left: 0;
    }
}


/* Services */

#services {
    padding: 60px 0 30px 0;
}

.service-header {
    text-align: center;
}

#services .service-info {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

#services .service-info .service-details {
    background-color: var(--yellowTrans);
    position: absolute;
    left: 0;
    bottom: -30px;
    right: 0;
    text-align: center;
    padding-top: 10px;
    transition: all 300ms cubic-bezier(0.645, 0.645, 0.355, 1);
}

#services .service-info .service-details h3 {
    color: var(--mainWhite);
    font-size: 22px;
    font-weight: 60px;
    margin-bottom: 5px;
}

#services .service-info .service-details p {
    color: var(--mainWhite);
    font-size: 15px;
    margin-bottom: 10px;
    font-style: italic;
}

#services .service-info .service-details .service-p {
    height: 30px;
}

#services .service-info .service-details a {
    color: var(--mainWhite);
}

#services .service-info .service-details a:hover {
    color: var(--mainYellow);
}

#services .service-info:hover .service-details {
    bottom: 0;
}

.service-info img {
    width: 100%;
}


/* About Page */

.about-content {
    padding: 200px 200px;
    background-color: var(--yellowTrans);
    background-image: url(../img/wash.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--mainWhite);
    margin-bottom: 2em;
}


/* contact us */

#contact {
    padding: 60px 0;
}

#contact .contact-header {
    margin-top: 80px;
    text-align: center;
}

#contact .contact-info {
    margin-bottom: 20px;
    text-align: center;
}

#contact .contact-info i {
    font-size: 48px;
    display: inline-block;
    margin-bottom: 10px;
    color: var(--mainYellow)
}

#contact .contact-info address,
#contact .contact-info p {
    margin-bottom: 0;
    color: var(--mainBlack);
}

#contact .contact-info h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--mainBlack);
}

#contact .contact-info a {
    color: var(--mainBlack);
    text-decoration: none;
}

#contact .contact-info a:hover {
    color: var(--mainYellow);
    text-decoration: none;
}

#contact .contact-address,
#contact .contact-phone,
#contact .contact-email {
    margin-bottom: 20px;
}

#contact .form #sendmessage {
    color: red;
    border: 1px solid red;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .form #errormessage {
    color: red;
    border: 1px solid red;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
    display: block;
}

#contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-size: 13px;
}

#contact .form input,
#contact .form textarea {
    padding: 10px 14px;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
}

#contact .form button[type="submit"] {
    background: var(--yellowTrans);
    border: 0;
    padding: 10px 40px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    cursor: pointer;
}

#contact .form button[type="submit"]:hover {
    background: var(--mainYellow);
}

#contact .form textarea {
    width: 100%;
}


/* top button */

#topBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: var(--mainYellow);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}


/* footer */

.footer {
    background-color: var(--yellowTrans);
    color: var(--mainBlack);
    text-align: center;
    padding: 2.5em 0;
    font-size: 35px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer-link {
    font-weight: bold;
}

.footer-link:hover {
    text-decoration: none;
    color: var(--mainBlack);
    border: 1px solid var(--mainWhite);
    transition: all 0.5s ease-in-out;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em;
    padding: 0;
}

.social-list-item {
    margin: 0 .5em;
}

.social-list-link {
    padding: .5em;
}

.social-list-link:hover {
    text-decoration: none;
    color: var(--mainBlack);
    transition: all 0.5s ease-in-out;
    border: 1px solid var(--mainWhite);
}